{% extends 'base.html' %}

{% block body %}

<h3><a href='/'>На главную</a></h3>
<form method='POST' action='{{ action1 }}'>
    <input class='button' value='Добавить' type='SUBMIT'>
    <input class='button' value='Редактировать' type='SUBMIT' formaction='{{ action2 }}'>
    <input class='button' value='Удалить' type='SUBMIT' formaction='{{ action3 }}'>
    <table class='db-mgmt'>
        <tr>
            <th class='db-mgmt'></th>
            {% for col_title in col_titles %}
                <th>{{ col_title }}</th>
            {% endfor %}
        </tr>
        {% for row in data %}
            <tr>
                <td class='db-mgmt'><input type='checkbox' name='{{ row[0] }}' value='id'></td>
                {% for item in row[1:] %}
                    <td class='db-mgmt'>{{ item }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</form>

{% endblock %}