{% extends 'base.html' %}

{% block body %}

<h3><a href='/'>На главную</a></h3>
<form>
    <h3>Вы собираетесь удалить следующие {{ obj }}:</h3>
    <table class='add-form'>
        {% for row in data %}
            <tr>
                <td><input type='hidden' name='{{ row[0] }}' value='id'></td>
                {% for item in row[1:] %}
                    <td><em>{{ item }}</em></td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <h4>Вы уверены</h4>
    <input class='button' value='Да' type='SUBMIT' formmethod='POST' formaction='{{ action1 }}'>
    <input class='button' type='button' onclick='window.location.replace("{{ action1 }}")' value='Отмена'/>
</form>

{% endblock %}